<!DOCTYPE HTML>
<html>
    <head>
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="assets/styles/main.css">
    </head>
    <body ng-app="ngQuizApp">
        <div ng-controller="MainCtrl">
            <div id="topPage">
            </div>
            <div id="bottomPage">
                <div class="question container" id="question">
                    <h2>Question number {{questionIndex + 1}}</h2>
                    <h2>{{quizPackage[questionIndex].question}}</h2>
                </div>
                <div id="answers">
                    <div class="choices" ng-repeat="choice in quizPackage[questionIndex].choices">
                        <button class="btn btn-xlg btn-primary"><h4>{{ choice }}</h4></button>
                    </div>
                    <div class="break"></div>
                    <div>
                        <button id="nextButton" ng-click="nextQuestion()" class="btn btn-primary">Next</button>
                    </div> 
                </div>
            </div>
        </div>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular/angular-route.js"></script>
        <script src="main.js"></script>
    </body>
</html>